@import "../utils/responsive.css";

:root {
    /* Her favorite colors
        - 1) Vert émeraude : #01D758
        - 2) Rouge bordeaux : #541412

       Coleur automnal
       - 1) fall_1 : #F3A93E
       - 2) fall_2 : #E65830
       - 3) fall_3 : #99271D
       - 4) fall_4 : #643D36
       - 5) fall_5 : #AB8673
    */

    /* Color */
    --primary-color : #0a1118;
    --primary-color-highligt : #233D54;
    --bs-body-bg : #FBF0F6;

    --fall_1 : #F3A93E;
    --fall_2 : #E65830;
    --fall_3 : #99271D;
    --fall_4 : #643D36;
    --fall_5 : #AB8673;

    --rouge_bordeaux : #541412;

    /* Font */
    --bs-body-font-family :'IBM Plex Serif', serif;
}

a { color : var (--primary-color); }
a:hover { color : var (var(--primary-color-highligt)); }

/* 
* Header 
*/
.header{
    z-index: 2;
}

.logo{
    width: 30%;
}


/* 
* Navbar 
*/
#navbar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: var(--rouge_bordeaux);
    z-index: 4;
}

.dropdown-nav__closeNatBtn{
    position: absolute;
    top : 25px;
    right: 55px;
    background-color: rgba(255, 255,255, 0);
}

.dropdown-nav__container{
    height: 100vh;
    padding: 0 1rem;
}