@import "../utils/responsive.css";

:root {
    /* Her favorite colors
        - 1) Vert émeraude : #01D758
        - 2) Rouge bordeaux : #541412

       Coleur automnal
       - 1) fall_1 : #F3A93E
       - 2) fall_2 : #E65830
       - 3) fall_3 : #99271D
       - 4) fall_4 : #643D36
       - 5) fall_5 : #AB8673
    */

    /* Color */
    --primary-color : #0a1118;
    --primary-color-highligt : #233D54;
    --bs-body-bg : #FBF0F6;

    --fall_1 : #F3A93E;
    --fall_2 : #E65830;
    --fall_3 : #99271D;
    --fall_4 : #643D36;
    --fall_5 : #AB8673;

    --rouge_bordeaux : #541412;

    /* Font */
    --bs-body-font-family :'IBM Plex Serif', serif;
}

html {scroll-behavior: smooth;}

a { color : var (--primary-color); }
a:hover { color : var (var(--primary-color-highligt)); }

/* 
* Custom Container
*/
.container-custom{
    width:100%;
    padding:0 1rem;
    margin: 0 auto;
}


/* 
* Header 
*/
.header{
    z-index: 2;
}

.logo{

    width: 40%;
}


/* 
* Navbar 
*/
#navbar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: var(--rouge_bordeaux);
    z-index: 4;
}

.dropdown-nav__closeNatBtn{
    position: absolute;
    top : 25px;
    right: 55px;
    background-color: rgba(255, 255,255, 0);
}

.dropdown-nav__container{
    height: 100vh;
    padding: 0 1rem;
}

/* 
* Hero
*/
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero__video{
    position: absolute;
    top:100%;
    left:50%;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.hero__overlay{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    opacity: 0.5;
    z-index: 1;
}

.hero__content{
    z-index: 1;
}

.hero__content-width{
    max-width: 550px;
}

.hero__scroll-btn{
    position:absolute;
    left:50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover{
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi{
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from{
        transform : translateY(0px);
    }
    to {
        transform : translateY(-10px);
    }
}